In [273]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [274]:
data = pd.read_csv('../singlephotoncsv/stokes.csv')
data['uncertainties'] = np.sqrt(data['coincidences with pol'])

In [275]:
data

    coincidences with pol  coincidences wt pol  uncertainties
0                     800                  990      28.284271
1                      76                 2300       8.717798
2                     414                 1500      20.346990
3                     570                 1620      23.874673
4                     505                 1704      22.472205
5                     590                 1854      24.289916
6                      58                  970       7.615773
7                    1660                 2479      40.743098
8                     700                 1511      26.457513
9                     790                 1718      28.106939
10                    855                 1766      29.240383
11                    762                 1795      27.604347
12                    374                 1012      19.339080
13                   1022                 2488      31.968735
14                   1116                 1513      33.406586
15                    170                 1653      13.038405
16                    977                 1736      31.256999
17                    442                 1771      21.023796
18                    455                 1016      21.330729
19                    888                 2415      29.799329
20                    130                 1513      11.401754
21                   1218                 1714      34.899857
22                    470                 1738      21.679483
23                    950                 1818      30.822070

In [276]:
stokes = np.zeros((4,8))
for i in range(4):
    for j in range(3):
        n = i*6 + j*2
        a = data['coincidences with pol'][n]
        da = data['uncertainties'][n]
        b = data['coincidences with pol'][n+1]
        db = data['uncertainties'][n+1]

        s = (a-b)/(a+b)
        # unc = 2 * (b ** 2 * da ** 2 + a ** 2 * db ** 2) ** (1 / 2) / (a + b) ** 2 #quad
        unc = abs(2 * b / (a + b) ** 2) * da + abs(-(2 * a / (a + b) ** 2)) * db #abs
        unc= np.sqrt(unc)
        stokes[i, j*2] = s
        stokes[i, j*2 + 1] = unc
    stokes[i, 6] = np.sqrt(np.sum(np.square(stokes[i, :3])))
    a = stokes[i, 0]
    da = stokes[i,1]
    b = stokes[i,2]
    db = stokes[i,3]
    c = stokes[i,4]
    dc = stokes[i,5]
    # stokes[i, 7] = (a ** 2 * da ** 2 + b ** 2 * db ** 2 + c ** 2 * dc ** 2) ** (1 / 2) * (a ** 2 + b ** 2 + c ** 2) ** (-1 / 2)
    stokes[i, 7] = abs((a ** 2 + b ** 2 + c ** 2) ** (-1 / 2) * a) * da + abs((a ** 2 + b ** 2 + c ** 2) ** (-1 / 2) * b) * db + abs((a ** 2 + b ** 2 + c ** 2) ** (-1 / 2) * c) * dc

In [277]:
stokes

array([[ 0.82648402,  0.15420547, -0.15853659,  0.21064746, -0.07762557,
         0.20634019,  0.85556356,  0.20927208],
       [-0.93247963,  0.10083561, -0.06040268,  0.19118988,  0.05751391,
         0.18733993,  0.9398588 ,  0.12427891],
       [-0.46418338,  0.18042718,  0.73561431,  0.15641261,  0.37702607,
         0.18472807,  0.88834036,  0.2831773 ],
       [-0.32241251,  0.18983803, -0.80712166,  0.14240355, -0.33802817,
         0.18653833,  0.88962558,  0.25649794]])

In [278]:
stokes = pd.DataFrame(stokes)
stokes = stokes.rename(columns={0:'S1', 2:'S2', 4:'S3', 6:'V'})
stokes = stokes.rename(columns={1:'S1 unc', 3:'S2 unc', 5:'S3 unc', 7:'V unc'})
stokes = stokes.rename({0:'H',1:'V',2:'D',3:'A'})
stokes.to_csv('../singlephotoncsv/stokes_res.csv')
stokes.to_clipboard()

In [279]:
# no pol. in 
ints = [997,
2420.5,
1509.25,
1676.25,
1736,
1809.5]

ints = np.array(ints)
uncs = np.sqrt(ints)

In [280]:
stokes = np.zeros((3,2))

In [281]:
for i in range(3):
    a = ints[i*2]
    b = ints[i*2 + 1]
    da = uncs[i*2]
    db  = uncs[i*2 + 1]
    s = (a-b)/(a+b)
    # su = abs(2 * b / (a + b) ** 2) * da + abs(-(2 * a / (a + b) ** 2)) * db
    su = 2 * (b ** 2 * da ** 2 + a ** 2 * db ** 2) ** (1 / 2) / (a + b) ** 2 #quad
    stokes[i][0] = s
    stokes[i][1] = su
v = np.sqrt(np.sum(np.square(stokes[:][0])))
a = stokes[0][0]
b = stokes[1][0]
c = stokes[2][0]
da = stokes[0][1]
db = stokes[1][1]
dc = stokes[2][1]
# unv = abs((a ** 2 + b ** 2 + c ** 2) ** (-1 / 2) * a) * da + abs((a ** 2 + b ** 2 + c ** 2) ** (-1 / 2) * b) * db + abs((a ** 2 + b ** 2 + c ** 2) ** (-1 / 2) * c) * dc
unv = (a ** 2 * da ** 2 + b ** 2 * db ** 2 + c ** 2 * dc ** 2) ** (1 / 2) * (a ** 2 + b ** 2 + c ** 2) ** (-1 / 2)

In [282]:
print(v)
print(unv)

0.41682275774768146
0.015590027871911175

In [283]:
stokes

array([[-0.41653255,  0.01555132],
       [-0.05242505,  0.01769349],
       [-0.0207305 ,  0.01679067]])